/vendor
/node_modules
/.env
/.env.local
/.env.*.local
/.phpunit.result.cache
/storage/*.key
/public/hot
/public/storage
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pestphp
storage/app/backups/
storage/app/logs/